//meanbase Head Tool Bar 
#head-tool-bar
  #meanbase
    a(href='/' target="_self") Back to Site
  a(href='/cms/apps')
    #mb-backend-settings.mb-tools.fa-suitcase
  a(href='/cms/settings')
    #mb-backend-settings.mb-tools.fa-gear
  a(href='/cms/comments')
    #mb-comments.mb-tools.fa-comments
  a(href='/cms/users')
    #mb-users.mb-tools.fa-users
  a(href='/cms/media')
    #mb-media.mb-tools.fa-camera
  a(href='/cms/plugins')
    #mb-plugins.mb-tools.fa-plug
  a(href='/cms/analytics')
    #mb-analytics.mb-tools.fa-bar-chart
  #mb-login-info.mb-has-dropdown
    .role Admin
    .name Jon Paul
    .mb-dropdown-right.mb-hidden
      ul
        li Log out
        li
          a(href='/cms/users') Settings