// Sidebar
#sidebar-wrapper
	ul.sidebar-nav
		li.sidebar-brand
			a(href='/' target="_self") Back to Site
		li
			a(href='/cms/settings') Themes                
		li
			a(href='/cms/comments') Comments                
		li
			a(href='/cms/users') Users                
		li
			a(href='/cms/media') Media                
		li
			a(href='/cms/plugins') Plugins               
		li
			a(href='/cms/analytics') Analytics
