//meanbase Head Tool Bar 
#head-tool-bar
	#meanbase
		a(href='/cms' target="_self") meanbase
	#mb-page-settings.mb-tools.fa-gear.mb-has-dropdown
		.mb-dropdown.mb-hidden
			.mb-6
				.form-group
					label Browser Tab Title
					input#mb-browser-tab-title.mb-input(type='text' name='mb-browser-tab-title' ng-model="page.tabTitle")
				.form-group
					label URL Link Title
					input#mb-url-link-title.mb-input(type='text', name='mb-url-link-title' ng-model="page.url")
				.form-group
					label Page Description
					textarea#mb-page-description.mb-input(name='mb-page-description' ng-model="page.description")
			.mb-6
				.mb-visibility
					div
						| Who can see?
						| >=
					form
						select(name='mb-access-level')
							option(value='everybody') Everybody
							option(value='members') Members
							option(value='level1') Level 1
							option(value='level2') Level 2
							option(value='level3') Level 3
							option(value='level4') Level 4
							option(value='level5') Level 5
							option(value='super') Super
				.mb-editability
					div
						| Who can edit?
						| >=
					form
						select(name='mb-access-level')
							option(value='everybody') Everybody
							option(value='members') Members
							option(value='level1') Level 1
							option(value='level2') Level 2
							option(value='level3') Level 3
							option(value='level4') Level 4
							option(value='level5') Level 5
							option(value='super') Super
				.mb-status
					| Status: Draft
					span.mb-calendar.fa-calendar(title="Latest Revision: {{page.updated}}")
				input#mb-publish-btn(type='submit', value='Publish Now')
	#mb-new-template.mb-tools.fa-plus-circle.mb-has-dropdown
		.mb-dropdown.mb-hidden
			ul
				li front-page
				li page
				li blog
				li post
	#mb-editMode.mb-tools.fa-edit
	#mb-cancel.mb-tools.fa-times-circle.mb-hidden
	#mb-trash.mb-tools.fa-trash.mb-hidden
	#mb-login-info.mb-has-dropdown
		.role Admin
		.name Jon Paul
		.mb-dropdown-right.mb-hidden
			ul
				li Log out
				li
					a(href='/cms/users') Settings
//meanbase End Head Tool Bar 
