doctype html
html(ng-app="cms")
  head
    title meanbase backend
    meta(name='viewport', content='width=device-width, initial-scale=1')
    include mb-backend-links
body
    include mb-backend-headbar
    div(ng-view)
