//- SimpleCMS
script(src="http://code.jquery.com/jquery-2.1.1.min.js")
script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js")
script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js")
script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-resource.min.js")
script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')

link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
link(rel='stylesheet', href='http://cdn.jsdelivr.net/flexgrid/1.5.1/flexgrid.min.css')
link(rel="stylesheet", href="/cms/css/SimpleCMS.css")

script(src='http://cdn.jsdelivr.net/flexgrid/1.5.2/flexgrid.min.js')

script(src="/cms/resources/crudApp.js")
script(src="/cms/resources/requests/page.js")
script(src="/cms/resources/requests/comment.js")
script(src="/cms/resources/requests/user.js")
script(src="/cms/resources/requests/role.js")
script(src="/cms/resources/requests/theme.js")
script(src="/cms/resources/requests/site.js")
script(src="/cms/resources/CRUD.js")
script(src="/cms/resources/App.js")
script(src="http://cdn.ckeditor.com/4.4.2/standard/ckeditor.js")
//script.
	//CKEDITOR.disableAutoInline = true;
script(src="/cms/resources/ckeditorService.js")
script(src="/cms/resources/AppCtrl.js")
script(src="/cms/js/SimpleCMS.js")
