#sc-backend-wrapper
    h1 Backend Settings
    h3 Site Title
    input#sc-site-title.sc-input(type='text', name='sc-site-title')
    h3 Tagline
    input#sc-site-tagline.sc-input(type='text', name='sc-site-tagline')
    h3 Themes
    #sc-site-theme
        .sc-theme-option.sc-4
            .sc-theme-title
                | Flexgrid for Old Hillsboro
            .sc-theme-preview
                img(src='screenshot.png', height='450', width='600')
            .sc-theme-controls
                button.sc-button.sc-theme-delete Delete
                button.sc-button.sc-theme-activate Activate
        .sc-theme-option.sc-4
            .sc-theme-title
                | Flexgrid for Old Hillsboro Unfinished
            .sc-theme-preview
            img(src='screenshot.png', height='450', width='600')
            .sc-theme-controls
                button.sc-button.sc-theme-delete Delete
                button.sc-button.sc-theme-activate Activate
        .sc-theme-option.sc-4
            .sc-theme-title
                | Flexgrid for Old Hillsboro Unfinished
            .sc-theme-preview
                img(src='screenshot.png', height='450', width='600')
            .sc-theme-controls
                button.sc-button.sc-theme-delete Delete
                button.sc-button.sc-theme-activate Activate
        h3 Social Sharing Setup
        button.sc-button.sc-connect-social Connect
