doctype html
html(ng-app="cms")
  head
    title SimpleCMS Practice
    meta(name='viewport', content='width=device-width, initial-scale=1')
    include sc-backend-links
body
    include sc-backend-headbar
    div(ng-view)
