.apps-wrapper
	.a-6.a-middle
		h1 Apps
	.a-6.a-middle.a-right
		button.btn.btn-primary.get-apps Get Apps
	hr

div.d-2.t-3.m-4.c-6.a-center.app
	a(href='/cms/settings')
		.fa.fa-gear.fa-4x
		.h4 Settings
div.d-2.t-3.m-4.c-6.a-center.app
	a(href='/cms/comments')
		.fa.fa-comments.fa-4x
		.h4 Comments
div.d-2.t-3.m-4.c-6.a-center.app
	a(href='/cms/users')
		.fa.fa-users.fa-4x
		.h4 Users
div.d-2.t-3.m-4.c-6.a-center.app
	a(href='/cms/media')
		.fa.fa-camera.fa-4x
		.h4 Camera
div.d-2.t-3.m-4.c-6.a-center.app
	a(href='/cms/plugins')
		.fa.fa-plug.fa-4x
		.h4 Plugins
div.d-2.t-3.m-4.c-6.a-center.app
	a(href='/cms/analytics')
		.fa.fa-bar-chart.fa-4x
		.h4 Analytics