
header#header
  .logo.container
    div
      h1
        a#logo(href='index') TXT
      p#description.mb-editable(ng-bind-html="page.content['description'] ? page.content['description'] : defaultText")
//
   Nav 
nav#nav.skel-layers-fixed.mb-fixed-top
  ul(data-menu="main" ng-sortable="mb.sortableMenus")
    li(ng-repeat="menu in menus.main track by menu.id" mb-menu="menu" ng-class="active(menu.url, 'active')")
      a(href="{{menu.url ? menu.url : /}}" target="{{menu.target}}").mb-editable.mb-main-list-a {{menu.title}}
    li
      a(href='#') Dropdown
      ul(data-menu="footer" ng-sortable="mb.sortableMenus").dropdown-menu
        li(ng-repeat="menu in menus.footer track by menu.id" mb-menu="menu" ng-class="active(menu.url, 'active')").mb-draggable
          a(href="{{menu.url ? menu.url: /}}" target="{{menu.target}}").mb-editable.mb-footer-list-a {{menu.title}}
//
   Banner 
#banner-wrapper
  section#banner
    h2#page-title.mb-editable {{page.title}}
    p#content-1.mb-editable(ng-bind-html="page.content['content-1'] ? page.content['content-1'] : defaultText")
    a.button(href='#') Alright let's go
//
   Main 
#main-wrapper
  #main.container
    .row.200
      .12u
        //
           Highlight 
        section.box.highlight
          ul.special
            li
              a.icon.fa-search(href='#')
                span.label Magnifier
            li
              a.icon.fa-tablet(href='#')
                span.label Tablet
            li
              a.icon.fa-flask(href='#')
                span.label Flask
            li
              a.icon.fa-cog(href='#')
                span.label Cog?
          header
            h2 A random assortment of icons in circles
            p And some text that attempts to explain their significance
          p
            | Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. Praesent semper mod quis eget mi. Etiam eu
            br
            | ante risus. Aliquam erat volutpat. Aliquam luctus et mattis lectus amet pulvinar. Nam nec turpis consequat.
    .row.200
      .12u
        //
           Features 
        section.box.features
          h2.major
            span A Major Heading
          div
            .row
              .3u
                //
                   Feature 
                section.box.feature
                  a.image.featured(href='#')
                    img(src='/themes/html5up-txt/images/pic01.jpg', alt='')
                  h3
                    a(href='#') A Subheading
                  p
                    | Phasellus quam turpis, feugiat sit amet ornare in, a hendrerit in
                    | lectus dolore. Praesent semper mod quis eget sed etiam eu ante risus.
              .3u
                //
                   Feature 
                section.box.feature
                  a.image.featured(href='#')
                    img(src='/themes/html5up-txt/images/pic02.jpg', alt='')
                  h3
                    a(href='#') Another Subheading
                  p
                    | Phasellus quam turpis, feugiat sit amet ornare in, a hendrerit in
                    | lectus dolore. Praesent semper mod quis eget sed etiam eu ante risus.
              .3u
                //
                   Feature 
                section.box.feature
                  a.image.featured(href='#')
                    img(src='/themes/html5up-txt/images/pic03.jpg', alt='')
                  h3
                    a(href='#') And Another
                  p
                    | Phasellus quam turpis, feugiat sit amet ornare in, a hendrerit in
                    | lectus dolore. Praesent semper mod quis eget sed etiam eu ante risus.
              .3u
                //
                   Feature 
                section.box.feature
                  a.image.featured(href='#')
                    img(src='/themes/html5up-txt/images/pic04.jpg', alt='')
                  h3
                    a(href='#') And One More
                  p
                    | Phasellus quam turpis, feugiat sit amet ornare in, a hendrerit in
                    | lectus dolore. Praesent semper mod quis eget sed etiam eu ante risus.
            .row
              .12u
                ul.actions
                  li
                    a.button.big(href='#') Do Something
                  li
                    a.button.alt.big(href='#') Think About It
    .row.200
      .12u
        //
           Blog 
        section.box.blog
          h2.major
            span Another Major Heading
          div
            .row
              .9u
                .content.content-left
                  //
                     Featured Post 
                  article.box.post
                    header
                      h3
                        a(href='#') Here's a really big heading
                      p With a smaller subtitle that attempts to elaborate
                      ul.meta
                        li.icon.fa-clock-o 15 minutes ago
                        li.icon.fa-comments
                          a(href='#') 8
                    a.image.featured(href='#')
                      img(src='/themes/html5up-txt/images/pic05.jpg', alt='')
                    p
                      | Phasellus quam turpis, feugiat sit amet ornare in, a hendrerit in lectus. Praesent
                      | semper mod quis eget mi. Etiam sed ante risus aliquam erat et volutpat. Praesent a
                      | dapibus velit. Curabitur sed nisi nunc, accumsan vestibulum lectus. Lorem ipsum
                      | dolor sit non aliquet sed, tempor et dolor.  Praesent a dapibus velit. Curabitur
                      | accumsan.
                    a.button(href='#') Continue Reading
              .3u
                .sidebar
                  //
                     Archives 
                  ul.divided
                    li
                      article.box.post-summary
                        h3
                          a(href='#') A Subheading
                        ul.meta
                          li.icon.fa-clock-o 6 hours ago
                          li.icon.fa-comments
                            a(href='#') 34
                    li
                      article.box.post-summary
                        h3
                          a(href='#') Another Subheading
                        ul.meta
                          li.icon.fa-clock-o 9 hours ago
                          li.icon.fa-comments
                            a(href='#') 27
                    li
                      article.box.post-summary
                        h3
                          a(href='#') And Another
                        ul.meta
                          li.icon.fa-clock-o Yesterday
                          li.icon.fa-comments
                            a(href='#') 184
                    li
                      article.box.post-summary
                        h3
                          a(href='#') And Another
                        ul.meta
                          li.icon.fa-clock-o 2 days ago
                          li.icon.fa-comments
                            a(href='#') 286
                    li
                      article.box.post-summary
                        h3
                          a(href='#') And One More
                        ul.meta
                          li.icon.fa-clock-o 3 days ago
                          li.icon.fa-comments
                            a(href='#') 8,086
                  a.button.alt(href='#') Browse Archives
//
   Footer 
footer#footer.container
  .row.200
    .12u
      //
         About 
      section
        h2.major
          span What's this about?
        p
          | This is
          strong TXT
          | , yet another free responsive site template designed by
          a(href='http://n33.co') AJ
          | for
          a(href='http://html5up.net') HTML5 UP
          | . It's released under the
          a(href='http://html5up.net/license/') Creative Commons Attribution
          | license so feel free to use it for
          | whatever you're working on (personal or commercial), just be sure to give us credit for the design.
          | That's basically it :)
  .row.200
    .12u
      //
         Contact 
      section
        h2.major
          span Get in touch
        ul.contact
          li
            a.icon.fa-facebook(href='#')
              span.label Facebook
          li
            a.icon.fa-twitter(href='#')
              span.label Twitter
          li
            a.icon.fa-instagram(href='#')
              span.label Instagram
          li
            a.icon.fa-dribbble(href='#')
              span.label Dribbble
          li
            a.icon.fa-google-plus(href='#')
              span.label Google+
  //
     Copyright 
  #copyright
    ul.menu
      li © Untitled. All rights reserved
      li
        | Design:
        a(href='http://html5up.net') HTML5 UP