link(rel="stylesheet", href="/themes/Default/css/style.css")
script(src="/themes/Default/controllers/pageCtrl.js")
script(src="/themes/Default/controllers/blogCtrl.js")
script(src="/themes/Default/routes/routes.js")