link(rel="stylesheet", href="/themes/SecondTheme/css/style.css")
script(src="/themes/SecondTheme/controllers/pageCtrl.js")
script(src="/themes/SecondTheme/controllers/blogCtrl.js")
script(src="/themes/SecondTheme/routes/routes.js")