doctype html
html(ng-app="app")
	head
		//- meta(name="fragment" content="!")
		title SecondTheme
		include ../../cms/templates/sc-links
		//- FirstTheme Scripts
		link(rel="stylesheet", href="themes/SecondTheme/css/style.css")
		script(src="themes/SecondTheme/controllers/main.js")
	body(ng-controller="AppCtrl")
		//- include ../../cms/templates/sc-links
		h1 Second Theme
		h2 {{page.title}}
		p.
			{{page.content}}

		hr 
		h3 Comments
		div.comment(ng-repeat="comment in comments")
			p {{comment.author}} on {{comment.date | date: 'MMM d, y h:mm a'}} 
			p {{comment.content}}
		//- div(ng-view)
