doctype html
html(ng-app="app")
	head
		//- meta(name="fragment" content="!")
		title SecondTheme
		include ../../cms/templates/sc-links
		include templates/SecondThemeLinks
	body(ng-controller="AppCtrl")
		include ../../cms/templates/sc-headbar
		div(ng-view)

