doctype html
html(ng-app="app")
	head
		meta(name="fragment" content="!")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		title Second Theme
		include ../../cms/templates/front-end/mb-links
		include templates/SecondThemeLinks
	body(ng-controller="AppCtrl" ng-init="serverData=#{JSON.stringify(serverData)}")
		include ../../cms/templates/front-end/mb-headbar
		div(ng-view)

